@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* ------------- body ------------- */
/* ------------- menu 1 ------------- */
/* ------------- menu 2 ------------- */
/* ------------- menu 3 ------------- */
/* ------------- menu 4 ------------- */
/* ------------- FONTS ------------- */
@keyframes loading-dots {
  50% {
    opacity: 0;
    transform: translateY(5px);
  }
}
@keyframes wiggle {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  25% {
    transform: translate(2px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
/* ------------- general ------------- */
.menucontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: auto;
}
.menucontainer h1 {
  font-size: 20px;
}

.menu {
  margin-top: 10px;
  padding-top: 15px;
  width: 90%;
  height: 90%;
  box-shadow: 0px 0px 8px #a6a6a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.menu section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__header h2 {
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
}
.menu__body {
  font-family: "Kalam", cursive;
  width: 90%;
}
.menu__body__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.menu__body svg {
  flex-grow: 1;
  max-width: 230px;
}
.menu__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu__footer h3 {
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
}
.menu__footer i {
  margin-right: 15px;
}

table {
  width: 100%;
}
table td {
  padding: 10px 0;
}
table td:nth-child(1) {
  text-align: left;
}
table td:nth-child(2) {
  text-align: right;
}

/* ------------- menu 1 ------------- */
.menu1 {
  background-color: #f9d2d2;
  font-family: "Devonshire", cursive;
}
.menu1 .menu__body__title p {
  position: relative;
}
.menu1 .menu__body__title p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu1 .menu__body__title p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu1 .menu__body__title p {
  font-size: 22px;
  font-weight: bold;
}
.menu1 td:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}

/* ------------- menu 2 ------------- */
.menu2 {
  background-color: #FEF3F3;
  font-family: "Katibeh", cursive;
}
.menu2 h2 {
  background: linear-gradient(to bottom right, #E38A12 30%, #8F5AFF 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.menu2 table {
  text-align: center;
  width: 80%;
  margin: auto;
}
.menu2 table td:nth-child(1) {
  font-size: 25px;
}
.menu2 table td:nth-child(2) {
  font-size: 30px;
}
.menu2 .menu__body {
  font-family: "Katibeh", cursive;
  font-size: 30px;
}
.menu2 .starters {
  color: #C77412;
}
.menu2 .starters .menu2-line1 {
  fill: url(.menu2-line1) #C77412;
}
.menu2 .starters p {
  position: relative;
}
.menu2 .starters p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #C77412;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu2 .starters p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu2 .meals {
  color: #990099;
}
.menu2 .meals .menu2-line2 {
  fill: url(.menu2-line2) #990099;
}
.menu2 .meals p {
  position: relative;
}
.menu2 .meals p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #990099;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu2 .meals p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu2 .desserts {
  color: #8F5AFF;
}
.menu2 .desserts .menu2-line3 {
  fill: url(.menu2-line3) #8F5AFF;
}
.menu2 .desserts p {
  position: relative;
}
.menu2 .desserts p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #8F5AFF;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu2 .desserts p:hover:after {
  width: 100%;
  opacity: 1;
}

/* ------------- menu 3 ------------- */
.menu3 {
  background-color: #eeeef6;
}
.menu3 h2 {
  background: linear-gradient(to bottom right, #0825DB 30%, #0889FB 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Dancing Script", cursive;
  padding-left: 3px;
}
.menu3 .menu__body__title p {
  font-size: 20px;
}
.menu3 table {
  text-align: center;
  width: 85%;
  margin: auto;
  font-size: 20px;
}
.menu3 table td:nth-child(2) {
  font-size: 21px;
}
.menu3 .starters .menu3-line1 {
  fill: url(.menu3-line1) #0825DB;
}
.menu3 .starters p {
  position: relative;
}
.menu3 .starters p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0825DB;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu3 .starters p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu3 .meals .menu3-line2 {
  fill: url(.menu3-line2) #0670F3;
}
.menu3 .meals p {
  position: relative;
}
.menu3 .meals p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0670F3;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu3 .meals p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu3 .desserts .menu3-line3 {
  fill: url(.menu3-line3) #0889FB;
}
.menu3 .desserts p {
  position: relative;
}
.menu3 .desserts p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0889FB;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu3 .desserts p:hover:after {
  width: 100%;
  opacity: 1;
}

/* ------------- menu 4 ------------- */
.menu4 {
  background-color: #fff;
}
.menu4 h2 {
  background: linear-gradient(to bottom right, #3E923A 30%, #BEFF7F 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Kaushan Script", cursive;
  padding-right: 3px;
}
.menu4 .menu__body__title p {
  font-size: 22px;
}
.menu4 table {
  text-align: center;
  width: 85%;
  margin: auto;
  font-size: 20px;
}
.menu4 table td:nth-child(2) {
  font-size: 21px;
}
.menu4 p {
  position: relative;
}
.menu4 p:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #BEFF7F;
  left: 0;
  bottom: 0;
  width: 0%;
  opacity: 0%;
  transition: all 500ms ease-in-out;
}
.menu4 p:hover:after {
  width: 100%;
  opacity: 1;
}
.menu4 .iconleft {
  fill: url(#menu4-gradient-left);
}
.menu4 .iconleft #menu4-gradient-left {
  --stop-1: #3E923A;
  --stop-2: #BEFF7F;
}
.menu4 .iconright {
  fill: url(#menu4-gradient-right);
}
.menu4 .iconright #menu4-gradient-right {
  --stop-1: #BEFF7F;
  --stop-2: #3E923A;
}

/* ------------- body ------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  color: #ffcc00;
}

/* ------------- header ------------- */
header {
  background-color: #569c87;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 30px;
}
header a {
  text-decoration: none;
  color: #ffcc00;
}

/* ------------- main ------------- */
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block a {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.block__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}
.block__item__card {
  width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 0px 0px 8px #a6a6a6;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  background: linear-gradient(to bottom right, #ff0066 30%, #ff9966 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title-wraper {
  font-size: 25px;
  cursor: pointer;
  transform: scale(1);
  opacity: 1;
  transition: all 500ms;
}
.title-wraper:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* ------------- card 1 ------------- */
.card1 {
  background-color: #f9d2d2;
}
.card1 span {
  color: black;
}
.card1 span:nth-child(2) {
  font-family: "Devonshire", cursive;
  font-weight: normal;
  font-size: 30px;
  margin: 0;
}
.card1 span:nth-child(3) {
  font-family: "Sriracha", cursive;
  font-size: 40px;
  margin: 0;
}

/* ------------- card 2 ------------- */
.card2 {
  background-color: #FEF3F3;
  font-family: "Katibeh", cursive;
}
.card2 span:nth-child(1) {
  background: linear-gradient(to bottom right, #E38A12 30%, #8F5AFF 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  margin: 0;
  filter: brightness(120%);
}
.card2 span:nth-child(2) {
  font-size: 40px;
  color: #C77412;
  margin: 0;
}

/* ------------- card 3 ------------- */
.card3 {
  background-color: #eeeef6;
}
.card3 span:nth-child(1) {
  background: linear-gradient(to bottom right, #0825DB 30%, #0889FB 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Dancing Script", cursive;
  margin: 0;
  font-size: 30px;
  padding: 3px;
}
.card3 span:nth-child(2) {
  font-family: "Kalam", cursive;
  font-size: 40px;
  color: #0670F3;
  margin: 0;
}

/* ------------- card 4 ------------- */
.card4 {
  background-color: #fff;
}
.card4 span:nth-child(1) {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to bottom right, #3E923A 30%, #BEFF7F 80%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
  padding: 5px;
  font-size: 30px;
}
.card4 span:nth-child(2) {
  font-family: "Kalam", cursive;
  font-size: 40px;
  color: #72BF56;
  margin: 0;
}

/* ------------- aside ------------- */
.pre-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 300px;
  background-color: #569c87;
  border: 1px solid #569c87;
  border-radius: 10px;
  margin: 30px auto 100px auto;
  color: #ffcc00;
}
.pre-footer h2 {
  margin: 0;
  text-align: center;
}

.loading span {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #ffcc00;
  display: inline-block;
  animation: loading-dots 2s infinite ease-in-out;
}
.loading span:nth-child(2) {
  animation-delay: 0.5s;
}
.loading span:nth-child(3) {
  animation-delay: 1s;
}

/* ------------- footer ------------- */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #569c87;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: #ffcc00;
}
footer p {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-align: center;
}
footer p:hover {
  animation: wiggle ease-in-out 400ms infinite;
}

/* ------------- media queries ------------- */
@media (min-width: 756px) {
  .block__item__card {
    width: 400px;
    height: 600px;
    margin: 30px;
  }
  .block__item__card span:nth-child(1) {
    font-size: 40px;
  }
  .block__item__card span:nth-child(2) {
    font-size: 50px;
  }

  .menucontainer h1 {
    font-size: 30px;
  }

  .menu {
    margin: 20px 30px 100px 30px;
    padding: 80px 30px 80px 30px;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 1200px;
  }
  .menu h2 {
    font-size: 50px;
    margin: 30px 0 50px 0;
    padding: 0 5px;
  }
  .menu section {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
