// IMPORTS //
@import "typography.scss";
@import "variables.scss";
@import "mixin.scss";
@import "keyframes.scss";
@import "menus.scss";

/* ------------- body ------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    color: $color-txt;
}

/* ------------- header ------------- */
header {
    background-color: $color-bg;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: $color-txt;
    }
}

/* ------------- main ------------- */
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;

        &__card {
            width: 300px;
            height: 300px;
            margin: 20px;
            box-shadow: 0px 0px 8px $color-bs;
            text-align: center;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

i {
    @include title-gradient($icolor-stop-1, $icolor-stop-2);
}

.title-wraper {
    font-size: 25px;
    cursor: pointer;
    transform: scale(1);
    opacity: 1;
    transition: all 500ms;

    &:hover {
        transform: scale(1.2);
        opacity: 0.5;
    }
}

/* ------------- card 1 ------------- */
.card1 {
    background-color: $menu1-color-bg;

    span {
        color: $menu1-color-primary;

        &:nth-child(2) {
            font-family: $menu1-font-primary;
            font-weight: normal;
            font-size: 30px;
            margin: 0;
        }

        &:nth-child(3) {
            font-family: $menu1-font-secondary;
            font-size: 40px;
            margin: 0;
        }
    }
}

/* ------------- card 2 ------------- */
.card2 {
    background-color: $menu2-color-bg;
    font-family: $menu2-font-primary;

    span {
        &:nth-child(1) {
            @include title-gradient($menu2-color-stop-1, $menu2-color-stop-2);
            font-size: 30px;
            margin: 0;
            filter: brightness(120%);
        }

        &:nth-child(2) {
            font-size: 40px;
            color: $menu2-color-primary;
            margin: 0;
        }
    }
}

/* ------------- card 3 ------------- */
.card3 {
    background-color: $menu3-color-bg;

    span {
        &:nth-child(1) {
            @include title-gradient($menu3-color-stop-1, $menu3-color-stop-2); 
            font-family: $menu3-font-primary;
            margin: 0;
            font-size: 30px;
            padding: 3px;
        }

        &:nth-child(2) {
            font-family: $menubody-font;
            font-size: 40px;
            color: $menu3-color-medium;
            margin: 0;
        }
    }
}

/* ------------- card 4 ------------- */
.card4 {
    background-color: $menu4-color-bg;
    
    span {
        &:nth-child(1) {
            font-family: $menu4-font-primary;
            @include title-gradient($menu4-color-stop-1, $menu4-color-stop-2);
            margin: 0;
            padding: 5px;
            font-size: 30px;
        }

        &:nth-child(2) {
            font-family: $menubody-font;
            font-size: 40px;
            color: $menu4-color-medium;
            margin: 0;
        }
    }
}

/* ------------- aside ------------- */
.pre-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 300px;
    background-color: $color-bg;
    border: 1px solid $color-bg;
    border-radius: 10px;
    margin: 30px auto 100px auto;
    color: $color-txt;

    h2 {
        margin: 0;
        text-align: center;
    }
}

.loading span {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: $color-txt;
    display: inline-block;
    animation: loading-dots 2s infinite ease-in-out;

    &:nth-child(2) {
    animation-delay: 0.5s;
    }

    &:nth-child(3) {
    animation-delay: 1s;
    }
}

/* ------------- footer ------------- */
footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-bg;
    position: fixed;
    width: 100%;
    bottom: 0;

    a {
        text-decoration: none;
        color: $color-txt;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        text-align: center;

        &:hover {
            animation: wiggle ease-in-out 400ms infinite;
        }
    }
}

/* ------------- media queries ------------- */
@media (min-width: 756px) {
    .block__item__card {
        width: 400px;
        height: 600px;
        margin: 30px;

        span {
            &:nth-child(1) {
                font-size: 40px;
            }

            &:nth-child(2) {
                font-size: 50px;
            }
        }   
    }

    .menucontainer h1 {
        font-size: 30px;
    }
    
    .menu {
        margin: 20px 30px 100px 30px;
        padding: 80px 30px 80px 30px;
        width: 80%;
        height: 80%;
        max-width: 800px;
        max-height: 1200px;

        h2 {
            font-size: 50px;
            margin: 30px 0 50px 0;
            padding: 0 5px;
        }

        section {
            margin-bottom: 30px;
        }

        table {
            tr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                td {
                    padding: 10px 0;
                    &:nth-child(1) {
                        text-align: left;
                    }
            
                     &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
}
