/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;
}

.menu {
    @include menudisplay;
}


.menu1 {
    background-color: #f9d2d2;
    font-family: 'Devonshire', cursive;
    
    p {
        &:after {
            content: ' ';
            position: absolute;
            height: 3px;
            background-color: black;
            border-radius: 4rem;
            left: 0;
            bottom: 0;
            width: 0;
            transition: width 500ms ease;
        }
        &:hover:after {
            width: 100%;
        }
    }
}

table {
    tr {
        td {
            padding: 10px;
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                font-weight: bold;
                text-align: right;
            }
        }
    }
}

/* ------------- footer ------------- */
footer {
    @include footer;
}