/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;
}

.menu {
    @include menudisplay;
}

.menu4 {
    background-color: #fff;
    
    h2 {
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(to bottom right, #006600 0%, #bdfd81 70%);
        background-clip: border-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        margin: 50px;
        padding: 5px;
    }
}


/* ------------- footer ------------- */
footer {
    @include footer;
}