/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;
}

.menu {
    @include menudisplay;
}

.menu3 {
    background-color: #eeeef6;
   
    h2 {
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(to bottom right,#0000b3 0%, #3385ff 70%);
        background-clip: border-box;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        margin: 50px;
        padding: 3px;
    }

    .starters {
        #Calque_1 {
            fill: url(#Calque_1) #0000cc;
        }
        p {
            &:after {
                content: ' ';
                position: absolute;
                height: 3px;
                background-color: #0000cc;
                border-radius: 4rem;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width 500ms ease;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }

    .meals {
        #Calque_2 {
            fill: url(#Calque_2) #3333ff;
        }

        p {
            &:after {
                content: ' ';
                position: absolute;
                height: 3px;
                background-color: #3333ff;
                border-radius: 4rem;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width 500ms ease;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }

    .desserts {
        #Calque_3 {
            fill: url(#Calque_3) #3385ff;
        }

        p {
            &:after {
                content: ' ';
                position: absolute;
                height: 3px;
                background-color: #3385ff;
                border-radius: 4rem;
                left: 0;
                bottom: 0;
                width: 0;
                transition: width 500ms ease;
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
}

/* ------------- footer ------------- */
footer {
    @include footer;
}