/* ------------- general ------------- */
.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: auto;

    h1 {
        font-size: 20px;
    }
}
.menu {
    margin-top: 10px;
    padding-top: 15px;
    width: 90%;
    height: 90%;
    box-shadow: 0px 0px 8px $color-bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    section {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 30px;
            text-align: center;
            white-space: nowrap;
        }
    }

    &__body {
        font-family: $menubody-font;
        width: 90%;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 100%;
        }

        svg {
            flex-grow: 1;
            max-width: 230px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        h3 {
            font-size: 30px;
            text-align: center;
            white-space: nowrap;
        }

        i {
            margin-right: 15px;
        }
    }
}

table {
    width: 100%;

    tr {
        td {
            padding: 10px 0;

            &:nth-child(1) {
                text-align: left;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

/* ------------- menu 1 ------------- */
.menu1 {
    background-color: $menu1-color-bg;
    font-family: 'Devonshire', cursive;

    .menu__body__title {
        @include title-underline($menu1-color-primary);

        p {
            font-size: 22px;
            font-weight: bold;
        }
    } 

    td {
        &:nth-child(2) {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

/* ------------- menu 2 ------------- */
.menu2 {
    background-color: $menu2-color-bg;
    font-family: $menu2-font-primary;

    h2 {
        @include title-gradient($menu2-color-stop-1, $menu2-color-stop-2);
    }

    table {
        text-align: center;
        width: 80%;
        margin: auto;

        td {
            &:nth-child(1) {
                font-size: 25px;
            }
            &:nth-child(2) {
                font-size: 30px;
            }
        }

    }

    .menu__body {
        font-family: $menu2-font-primary;
        font-size: 30px;
    }

    .starters {
        color: $menu2-color-primary;

        .menu2-line1 {
            fill: url(.menu2-line1) $menu2-color-primary;
        }

        @include title-underline($menu2-color-primary);
    }

    .meals {
        color: $menu2-color-secondary;

        .menu2-line2 {
            fill: url(.menu2-line2) $menu2-color-secondary;
        }

        @include title-underline($menu2-color-secondary);
    }

    .desserts {
        color: $menu2-color-stop-2;

        .menu2-line3 {
            fill: url(.menu2-line3) $menu2-color-stop-2;
        }

        @include title-underline($menu2-color-stop-2);
    }
}

/* ------------- menu 3 ------------- */
.menu3 {
    background-color: $menu3-color-bg;
   
    h2 {
        @include title-gradient($menu3-color-stop-1, $menu3-color-stop-2); 
        font-family: $menu3-font-primary;
        padding-left: 3px;
    }

    .menu__body__title {

        p {
            font-size: 20px;
        }
    }

    table {
        text-align: center;
        width: 85%;
        margin: auto;
        font-size: 20px;

        td {
            &:nth-child(2) {
                font-size: 21px;
            }
        }
    }

    .starters {
        .menu3-line1 {
            fill: url(.menu3-line1) $menu3-color-stop-1;
        }

        @include title-underline($menu3-color-stop-1);
    }

    .meals {
        .menu3-line2 {
            fill: url(.menu3-line2) $menu3-color-medium;
        }

        @include title-underline($menu3-color-medium);
    }

    .desserts {
        .menu3-line3 {
            fill: url(.menu3-line3) $menu3-color-stop-2;
        }

        @include title-underline($menu3-color-stop-2);
    }
}

/* ------------- menu 4 ------------- */
.menu4 {
    background-color: $menu4-color-bg;
    
    h2 {
        @include title-gradient($menu4-color-stop-1, $menu4-color-stop-2);
        font-family: $menu4-font-primary;
        padding-right: 3px;
    }

    .menu__body__title {
        p {
            font-size: 22px;
        }
    }

    table {
        text-align: center;
        width: 85%;
        margin: auto;
        font-size: 20px;

        td {
            &:nth-child(2) {
                font-size: 21px;
            }
        }
    }

    @include title-underline($menu4-color-stop-2);

    .iconleft {
        #menu4-gradient-left {
            --stop-1: #3E923A; 
            --stop-2: #BEFF7F; 
        }
        
        fill: url(#menu4-gradient-left);
    }

    .iconright {
        #menu4-gradient-right {
            --stop-1: #BEFF7F; 
            --stop-2: #3E923A; 
        }
        
        fill: url(#menu4-gradient-right);
    }
}
