// @mixin shading {
//     background: linear-gradient(to right, rgba(26,114,14,0.98) 0%,rgba(26,114,14,0.98) 1%,rgba(197,255,186,1) 100%);
//     background-clip: border-box;
//     -webkit-text-fill-color: transparent;
//     -webkit-background-clip: text;
//     background-clip: text;
// }

// @mixin h3display($color-h3, $font-h3) {
//     font-family: $font-h3;
//     font-size: 50px;
//     font-weight: normal;
//     color: $color-h3;
//     margin: 0;
// }

@mixin header {
    background-color: $color-bg;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

@mixin body {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    color: $color-txt;
}

@mixin footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-bg;
    position: fixed;
    width: 100%;
    bottom: 0;
    a {
        text-decoration: none;
        color: $color-txt;
    }
    p {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
        &:hover {
            animation: wiggle ease-in-out 500ms infinite;
        }
    }
}

@mixin menudisplay {
    margin: 30px;
    padding: 80px 30px 80px 30px;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 1200px;
    box-shadow: 0px 0px 8px $color-bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    section {
        margin-bottom: 50px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
        h2 {
            font-size: 50px;
            margin: 10px 0 30px 0;
            text-align: center;
            white-space: nowrap;
        }
    }

    &__body {
        font-family: 'Kalam', cursive;
        width: 90%;

        &__title {
            display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: baseline;
            width: 100%;
            
            p {
                margin: 8px;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                white-space: nowrap;
            }
        }

        svg {
            flex-grow: 1;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        h3 {
            font-size: 30px;
            text-align: center;
            white-space: nowrap;
        }

        i {
            margin-right: 15px;
        }
    }
}