@mixin title-gradient($color-stop-1, $color-stop-2) {
    background: linear-gradient(to bottom right, $color-stop-1 30%, $color-stop-2 80%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@mixin title-underline($color) {
    p {
        position: relative;
        
        &:after {
            content: ' ';
            position: absolute;
            height: 3px;
            background-color: $color;
            left: 0;
            bottom: 0;
            width: 0;
            transition: width 500ms ease-in-out;
        }
        &:hover:after {
             width: 100%;
        }
    }
}
