/* ------------- body ------------- */
body {
    @include body;
}

/* ------------- header ------------- */
header {
    @include header;
}

/* ------------- main ------------- */
.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.menudisplay {
    margin: 30px;
    padding: 30px;
    width: 50%;
    height: 50%;
    min-width: 360px;
    box-shadow: 0px 0px 8px $color-bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9d2d2;
    font-family: 'Devonshire', cursive;
}
.entete {
    display: flex;
    font-size: 25px;
}

.contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section {
    display: flex; 
    flex-direction: column; 

}

.meals {
    justify-content: flex-start;
    padding-left: 0;
}

.prices {
    justify-content: flex-end;

}

ul {
    list-style: none;
}
/* ------------- footer ------------- */
footer {
    @include footer;
}