// VARIABLES //

/* ------------- body ------------- */
$color-txt: #ffcc00;
$color-bg: #569c87;
$color-bs: #a6a6a6;
$icolor-stop-1: #ff0066;
$icolor-stop-2: #ff9966;

/* ------------- MENUS ------------- */
/* ------------- menu 1 ------------- */
$menu1-color-bg: #f9d2d2;
$menu1-color-primary: black;
/* ------------- menu 2 ------------- */
$menu2-color-bg: #FEF3F3;
$menu2-color-stop-1: #E38A12;
$menu2-color-stop-2: #8F5AFF;
$menu2-color-primary: #cc7a00;
$menu2-color-secondary: #990099;

/* ------------- menu 3 ------------- */
$menu3-color-bg: #eeeef6;
$menu3-color-stop-1: #0825DB;
$menu3-color-stop-2: #0889FB;
$menu3-color-medium: #3333ff;

/* ------------- menu 4 ------------- */
$menu4-color-bg: #fff;
$menu4-color-stop-1: #3E923A;
$menu4-color-stop-2: #BEFF7F;

/* ------------- FONTS ------------- */
$menubody-font: 'Kalam', cursive;
$menu1-font-primary: 'Devonshire', cursive;
$menu1-font-secondary: 'Sriracha', cursive;
$menu2-font-primary: 'Katibeh', cursive;
$menu3-font-primary: 'Dancing Script', cursive;
$menu4-font-primary: 'Kaushan Script', cursive;

