// VARIABLES //

/* ------------- body ------------- */
$color-txt: #ffcc00;
$color-bg: #569c87;
$color-bs: #a6a6a6;

/* ------------- fonts ------------- */
$font-menubody: 'Kalam', cursive;
$font-menu1: 'Devonshire', cursive;

/* ------------- cards ------------- */
