/* ----------------------- fonts ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* ----------------------- body ----------------------- */
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.pagecontainer {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #424242;
	display: flex;
	flex-direction: column;
}

/* ----------------------- header ----------------------- */
header {
    display: flex;
    flex-direction: column;
}

.photo {
	background-color: #009688;
	width: 100%;
    height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;	
}

img {
    width : 200px; 
	height : 200px;
	border: 4px rgba(105, 105, 105, 0.5) solid;
	border-radius: 50%;
}

.intro {
    display: flex;
    justify-content: center;
}

h1 {
	color: black;
	font-weight: lighter;
}

h1 span {
	color:#009688; 
	font-weight: 500;
}

.introcontent {
	font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.line {
    border-top: 2px solid #009688;
    width: 45px;
    display: none;
}

/* ----------------------- main ----------------------- */
main
{
    display: flex;
    flex-direction: column-reverse;
}

/* ----------------------- col-l ----------------------- */
.col-l
{
	display: flex;
	flex-direction: column;
	background-color: #009688;
}

.col-l h2 
{
	background-color: #424242;
	color: #009688;
	text-align: center;
}

aside h2 {
    margin-top: 0;
}

.contact p {
    margin-top: 0;
    margin-left: 20px;
}

.contact h3 {
    margin-bottom: 0;
    margin-left: 20px;
    font-weight: normal;
    font-size: inherit;
}

.about {
    flex: 2;
}

.about p {
	text-align: center;
    text-align: justify;
    padding: 0 20px;
}

.hobby i {
    color: #424242;
    padding: 15px 15px 15px 20px;
    border: 3px solid #424242;
    width: 30px;
    border-radius: 50%;
    margin: 0 10px 20px 10px;
}

.icons {
	display: flex;
	flex-direction: row;
    justify-content: center;
}

a {
	text-decoration: none;
	color: #424242;
}

/* ----------------------- col-r ----------------------- */
.col-r {
    margin-bottom: 24px;
} 

.col-r h2 {
	color: black;
}

.block {
    align-items: baseline;
    padding-left: 20px;
    padding-right: 20px;
}

.blocktitle {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid #009688;
}

.blocktitle h2 {
    margin-bottom: 10px;
}

.blockitem {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.blockitem i {
    display: none;
}

.date {
    color: #757575;
    font-size: smaller;
    margin-bottom: 0;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.date p {
    margin-bottom: 0;
}

.content p {
    text-align: justify;
}

.bordered {
    border-bottom: 1px dotted #757575 ;
}

.itemsecondary {
	margin: auto;
}

.fas, .far {
	color: #009688;
	font-size: 20px;
}

.blockitem i {
	margin-right: 20px;
}

/* ----------------------- Media Queries ----------------------- */
@media (min-width: 768px){
    /* -------- body -------- */
    .pagecontainer {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }
    /* -------- header -------- */
    header {
        flex-direction: row;
    }
    
    .intro {
        align-items: center;
        justify-content: start;
    }

    .introcontent {
        text-align: left;
        padding-left: 40px;
    }

    .introcontent p {
        margin-bottom: 0;
    }

    .line {
        display: block;
    }

    .photo, .col-l {
        width: calc(100% / 3)
    }

    .intro, .col-r {
        width: calc((100% / 3) *2)
    }
    /* -------- main -------- */
    main {
        flex-direction: row;
    }
    /* -------- col-r -------- */
    .block {
        padding-left: 40px;
        padding-right: 40px;
    }

    .blockitem {
        flex-direction: row;
    }

    .blockitem i {
        display: inline;
    }

    .date {
        color: inherit;
        font-size: inherit;
        font-weight: 500;
        width: calc(100% / 3);
    }
    
    .content {
        width: calc((100% / 3) *2);
    }

    .bordered {
        border: none;
    }

    .secondaryitem {
        width: calc(100% / 2);
    }
}